# üõ†Ô∏è ETL Process Documentation - Hackathon Project

## üìå Project: Online Retail Transaction Analysis

### üéØ Objective
Clean, transform, and prepare the *Online Retail* dataset for analysis by removing errors, correcting inconsistencies, and structuring the data for visualisation and insights.

---

In [1]:
import pandas as pd

df = pd.read_csv(r'../data/online_retail.csv')
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55       17850  United Kingdom
1  2010-12-01 08:26:00       3.39       17850  United Kingdom
2  2010-12-01 08:26:00       2.75       17850  United Kingdom
3  2010-12-01 08:26:00       3.39       17850  United Kingdom
4  2010-12-01 08:26:00       3.39       17850  United Kingdom

In [2]:
df[df.duplicated()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,17920,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446,United Kingdom

### Drop rows with null product descriptions

In [3]:
df = df.dropna(subset=['Description'])

### Filter out rows where InvoiceNo starts with 'Adjustment' or quantity is negative

In [4]:
df = df[~df['InvoiceNo'].astype(str).str.startswith('Adjustment')]
df = df[df['Quantity'] > 0]

### Remove cancelled orders

In [5]:
df = df[~df['InvoiceNo'].astype(str).str.contains('C', na=False)]

### Remove duplicates

In [6]:
df = df.drop_duplicates(subset=['InvoiceNo', 'StockCode', 'Quantity', 'CustomerID'])

### Remove missing or unspecified countries

In [7]:
df = df[df['Country'].notna()]
df = df[df['Country'] != 'Unspecified']

### Save the cleaned dataset to CSV for visualisation

In [8]:
df.to_csv('../data/Cleaned_Online_Retail.csv', index=False)